<h1>New cocktails</h1>
<div class="container">
  <div class="row">
    <div>class="col-md-8 col-md-offset-2"
      <h1>Create new cocktail</h1>


    </div>

  </div>
</div>

<%= render 'form', cocktails: @cocktails %>

<%= link_to "Back to list" "/cocktailss"%>


